image:
    - Visual Studio 2022
    - Ubuntu

environment:
    BUILD_TYPE: Release

clone_depth: 1

cache:
    - build

build_script:
- ps: |
    cmake -B build -DCMAKE_BUILD_TYPE=$env:BUILD_TYPE
    cmake --build build --config $env:BUILD_TYPE
    
artifacts:
    - path: build\FaderVST_artefacts\$(BUILD_TYPE)\VST3\FaderVST.vst3\Contents\x86_64-win\FaderVST.vst3
      name: FaderVST.vst3